* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	background-image: url(ikpe.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;

}
.menu-bar{
	background: darkblue;
	text-align: center;

}
.menu-bar h1{
	text-align: left;
}
.menu-bar ol a{
	text-decoration: none;
	text-align: right;
	font-size: 20px;
	color: white;
}
.menu-bar ol a:hover{
	background-color: yellow;
}
.menu-bar ol {
	padding-right: 30px;
	text-shadow: 20px;

}
.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: white;
	padding: 10px;
}
.menu-bar ul li {
	width: 120px;
	margin: 10px;
	padding: 10px;
}
.menu-bar ul li a {
	text-decoration: none;
	color: white;
}
.active, .menu-bar ul li:hover {
	background: green;
	border-radius: 4px;
}
.menu-bar .fa {
	margin-right: 5px;
}
.sub-menu-1 {
	display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
	display: block;
	position: absolute;
	background: rgb(0, 100, 0);
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
	color: green;
}
.fa-angle-right {
	float: right;
}
.sub-menu-2 {
	display: none;
}
.hover-me:hover .sub-menu-2{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px
	background: green;
}
.menu-bar ul li:hover .sub-menu-2 ul li a {
	text-align: right;
}